
#headercarousel img {
    height: 500px;
    object-fit: cover;
    opacity: 0.8;

    }
@media only screen and (max-width: 600px) {
  
}
#feedbackcarousel img{
  height: 500px;
  object-fit: cover;
  opacity: 0.3;
}
.header{
  position: relative;
}
.header a{
  position: absolute;
  top: 500px;
  right: 70px;
}
#houseimages img{
  height: 600px;
  object-fit: cover;
  border-radius: 1%;
}
.carousel-control-prev,.carousel-control-next{
  width: 60px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: lightgrey;
  width: 80%;
  height: 45px;
  border-radius: 50%;
}
.footer{
    margin-top: 150px;
    padding-top: 50px;
    height: 300px;
}
.listoverview{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  box-shadow: 3px 3px 10px darkgrey;
}

.listoverview img{
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius:3%;
}
.listoverview .text{
  margin: 5px;
}


.centeredcontent{

  display: flex;
  justify-content: center;
}

.aboutfooter{
  margin-right: 200px;
}
.housedetail{
  margin-top: 100px;
}
.signupform,.loginform,.moreinfo{
  margin-top: 200px;
}
.usernameinput,.emailinput,.passwordinput,.departmentinput{
  margin-top: 30px;
  width: 400px;
  border: none;
  border-bottom: 1px solid green;
  border-radius: 0%;
}
.houselist{
  margin-top: 100px;
}
.ratinginput{
  margin-top: 30px;
  width: 200px;
}
.commentinput{
  margin-top: 10px;
  width: 500px;
  height: 50px;
}
.submitform{
  margin-top: 30px;
}
.housedescription{
  margin-top: 50px;
}
.serviceoverview{
  text-align: left;
  padding-bottom: 50px;
}
.studentfeedback{
  text-align: left;
  color: black;
}
.homeaboutus{
  padding: 100px 50px 0px 50px
}
.aboutuspage{
  margin-top: 200px;
  padding: 0px 60px 0px 60px;
}
