<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    {%  if latest_posts%}
    <ol>
      {% for blogpost in latest_posts %}
        <li>
          <a href="{% url 'entry' blogpost.title %}">{{ blogpost.title }}</a>
        </li>
      {% endfor %}
    </ol>
    <a href="{% url 'index' next %}" class="btn btn dark">next</a>
    {% else %}
      <p>no more post</p>
    {% endif %}
  </body>
</html>
