{% extends "base.html" %}



{% block content %}
<div class="centeredcontent">
  <form method="post" class="loginform"action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <h1>Login</h1>
    <div>
      <input type="text" class="form-control usernameinput" name="username" placeholder="Fullname" required autofocus>
    </div>
    <div>
      <input type="password" class="form-control passwordinput" name="password" placeholder="Password" required>
    </div>
    <input class="btn btn-success submitform"type="submit" value="Login">
  </form>

</div>
{% endblock %}
