{% extends "portfolio/base.html"%}
{% block content %}
<div class="container contactinfo">
    <h1>Hey, thanks for takin the time to reach out.</h1>
    <br>
    <p>If you'd like to discuss a potential project, employment opportunity,
       or any other matter, please feel free to reach out to me using the contact links and information provided below.</p>
    <div class="cl">
      <br>
      <p>Email : tahirahma12@gmail.com</p>
      <p><a href="https://api.whatsapp.com/send?phone=%2B2349068065785&text&app_absent=0" class="contactlink" target="_blank"><i class="bi bi-whatsapp"></i> Whatsapp</a></p>
      <p><a href="https://linkedin.com/in/ahmad-tahir-057a73245" class="contactlink"  target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a></p>
      <p><a href="https://github.com/tahirahmad23"  class="contactlink" target="_blank"><i class="bi bi-github"></i> Github</a></p>

    </div>
</div>

  </div>
{% endblock %}
