{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}
<div class="intropunch">
  <h1>Hi, my name is Ahmad, I'm a backend deveoper</h1>
  <p>Are you ready to bring your web projects to life with precision, efficiency, and a touch of creativity?
     As a passionate backend web developer,
     I thrive on transforming ideas into robust, scalable solutions that drive real-world impact.
  </p>
</div>
<div class="intro">
  <p>With almost two years of hands-on experience in Python, particularly within the Django framework,
     I specialize in crafting powerful backend systems that form the backbone of dynamic web applications.
      I also work well with frontend technologies such as HTML, CSS,
       Bootstrap, and JavaScript, enabling effective collaboration within a team alongside my frontend developer counterpart.
  </p>

</div>
<hr>
<div class="projects">
  <h1>My recent work:</h1>
  <p>Here are some of te websites I built</p>
  <div class="card text-bg-dark">
<img src="{% static 'pics/grey.jpg'%}" class="card-img" alt="...">
<div class="card-img-overlay">
  <p class="card-title">Campus accomodation review website for students</p>
  <a href="https://ahmad16.pythonanywhere.com/" target="_blank" class="btn btn-outline-dark visitweb btn-lg">Visit website</a>
</div>
</div>
  </div>

{% endblock %}
